/*

NOTE:
------
WRITE YOUR OWN CUSTOM CSS STYLES HERE.

*/
.center-block {
    
    background: #ffffffce;
    border: 2px solid black;

   
    -webkit-box-shadow: -1px 10px 19px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 19px -4px rgba(0,0,0,0.75);
    box-shadow: -1px 10px 19px -4px rgba(0,0,0,0.75);
}
